 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(76, 115, 151, 0.5), rgba(0, 23, 85, 0.5)) no-repeat 50% 50% / cover,linear-gradient(to bottom, rgba(0, 23, 85, 1), rgba(0, 23, 85, 1)) no-repeat 50% 50% / cover;
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 842px;
  height: auto;
  width: 1148px;
  margin: 112px -8px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 351px;
  object-position: 0% 50%;
  height: 434px;
  margin: 108px 46px 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: -465px 683px 0 17px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  margin: 65px 459px 0 46px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  margin: 129px 4px 0;
}

.u-section-1 .u-group-elements-1 {
  width: 199px;
  min-height: 72px;
  transition-duration: 0.5s;
  height: auto;
  margin: 62px auto 0 46px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 0 0 72px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -68px auto 0 0;
  padding: 6px;
}

.u-section-1 .u-group-elements-2 {
  width: 251px;
  min-height: 72px;
  transition-duration: 0.5s;
  height: auto;
  margin: -72px auto 0 322px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0 0 0 77px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -68px 187px 4px 0;
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: 126px;
    margin-bottom: -11px;
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    min-height: 902px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 57px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -387px;
    margin-right: 571px;
    margin-left: -78px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 76px;
    margin-right: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 153px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 76px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -72px;
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 351px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 171px;
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-2 {
    margin-left: 289px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 105px;
    margin-bottom: 0;
    min-height: 877px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 420px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 43px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-2 {
    margin-top: 32px;
    margin-left: 0;
  }
}

.u-section-1 .u-group-elements-2,
.u-section-1 .u-group-elements-2:before,
.u-section-1 .u-group-elements-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 :hover > .u-container-layout .u-group-elements-2 {
  border-radius: 10px !important;
}

.u-section-1 .hover > .u-container-layout .u-group-elements-2 {
  border-radius: 10px !important;
}

.u-section-1 .u-group-elements-1,
.u-section-1 .u-group-elements-1:before,
.u-section-1 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 :hover > .u-container-layout .u-group-elements-1 {
  border-radius: 10px !important;
}

.u-section-1 .hover > .u-container-layout .u-group-elements-1 {
  border-radius: 10px !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  width: 548px;
  margin: 18px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 18px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 788px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-2 .u-list-item-1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-3 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-4 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-5 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-6 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-7 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-7 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-8 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-icon-8 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-9 {
  margin: 23px auto 0 -12px;
}

.u-section-2 .u-list-item-9 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-icon-9 {
  height: 83px;
  width: 90px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 23px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 23px auto 0 -12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 20px;
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    min-height: 650px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-1 {
    padding: 0;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-2 {
    padding: 0;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-3 {
    padding: 0;
  }

  .u-section-2 .u-list-item-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-4 {
    padding: 0;
  }

  .u-section-2 .u-list-item-5 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-5 {
    padding: 0;
  }

  .u-section-2 .u-list-item-6 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-6 {
    padding: 0;
  }

  .u-section-2 .u-list-item-7 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-7 {
    padding: 0;
  }

  .u-section-2 .u-list-item-8 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-8 {
    padding: 0;
  }

  .u-section-2 .u-list-item-9 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-icon-9 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    grid-auto-columns: calc(50% - 9.999975px);
    min-height: 1245px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2394px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 2292px;
  }
}

.u-section-2 .u-list-item-1,
.u-section-2 .u-list-item-1:before,
.u-section-2 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2,
.u-section-2 .u-list-item-2:before,
.u-section-2 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3,
.u-section-2 .u-list-item-3:before,
.u-section-2 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4,
.u-section-2 .u-list-item-4:before,
.u-section-2 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5,
.u-section-2 .u-list-item-5:before,
.u-section-2 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6,
.u-section-2 .u-list-item-6:before,
.u-section-2 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-7,
.u-section-2 .u-list-item-7:before,
.u-section-2 .u-list-item-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-7.u-list-item-7.u-list-item-7.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-8,
.u-section-2 .u-list-item-8:before,
.u-section-2 .u-list-item-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-8.u-list-item-8.u-list-item-8.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-9,
.u-section-2 .u-list-item-9:before,
.u-section-2 .u-list-item-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-list-item-9.u-list-item-9.u-list-item-9:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
}

.u-section-2 .u-list-item-9.u-list-item-9.u-list-item-9.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
} .u-section-3 {
  margin-right: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 490px;
}

.u-section-3 .u-text-1 {
  margin: 41px auto 0 41px;
}

.u-section-3 .u-gallery-1 {
  height: 357px;
  width: 500px;
  margin: 24px 0 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -340px 533px 42px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    object-position: 0% 50%;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 113px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    margin-top: 304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -641px;
    margin-bottom: 398px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 456px;
}

.u-section-4 .u-text-1 {
  margin: 34px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  margin: 49px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 371px;
    margin-right: 239px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 361px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-bottom: 21px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 321px;
}

.u-section-5 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 41px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-bottom: 391px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 492px;
}

.u-section-6 .u-text-1 {
  margin: 43px auto 0 41px;
}

.u-section-6 .u-gallery-1 {
  height: 374px;
  width: 512px;
  margin: 14px 41px 0 auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-6 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-back-image-1 {
  object-position: 50% 40.31%;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 93.61%;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: -345px 588px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-gallery-1 {
    margin-right: 28px;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-gallery-1 {
    margin-top: 280px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-6 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -634px;
    margin-bottom: 414px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 312px;
}

.u-section-7 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.875rem;
  margin: 41px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-top: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
    margin-bottom: 392px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 475px;
}

.u-section-8 .u-text-1 {
  margin: 42px auto 0 41px;
}

.u-section-8 .u-gallery-1 {
  height: 357px;
  width: 500px;
  margin: 13px 0 0 auto;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-8 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-back-image-1 {
  object-position: 50% 40.31%;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-8 .u-text-2 {
  font-size: 1.875rem;
  margin: -328px 513px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 141px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: 139px;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-8 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 20px;
    margin-right: 313px;
    margin-left: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 251px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: 249px;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-8 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 93px;
    margin-left: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-left: 341px;
  }

  .u-section-8 .u-gallery-1 {
    margin-right: 339px;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-8 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-1 {
    margin-top: 256px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-8 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: -593px;
    margin-left: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 505px;
}

.u-section-9 .u-text-1 {
  margin: 53px auto 0 41px;
}

.u-section-9 .u-gallery-1 {
  height: 357px;
  width: 500px;
  margin: 0 0 0 auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-9 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-9 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-9 .u-back-image-1 {
  object-position: 50% 40.31%;
}

.u-section-9 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-9 .u-back-image-2 {
  object-position: 50% 40.31%;
}

.u-section-9 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-9 .u-back-image-3 {
  object-position: 50% 100%;
}

.u-section-9 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-9 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-9 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  margin: -316px 546px 117px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-top: 143px;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 20px;
  }

  .u-section-9 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-9 .u-carousel-control-2 {
    right: 8px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 20px;
    margin-right: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-9 .u-carousel-control-2 {
    right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-9 .u-carousel-control-2 {
    right: 5px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-gallery-1 {
    margin-top: 256px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-9 .u-carousel-control-2 {
    right: 3px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -593px;
    margin-bottom: 397px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 496px;
}

.u-section-10 .u-text-1 {
  margin: 43px auto 0 41px;
}

.u-section-10 .u-text-2 {
  font-size: 1.875rem;
  margin: 41px 489px 0 0;
}

.u-section-10 .u-gallery-1 {
  height: 357px;
  width: 500px;
  margin: -282px 0 43px auto;
}

.u-section-10 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-10 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-10 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-10 .u-back-image-1 {
  object-position: 50% 24.51%;
}

.u-section-10 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-10 .u-back-image-2 {
  object-position: 50% 93.61%;
}

.u-section-10 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-10 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-10 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-10 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-right: 69px;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-10 .u-gallery-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-10 .u-carousel-control-2 {
    right: 3px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 419px;
}

.u-section-11 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.875rem;
  margin: 50px 0 60px;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 311px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 21px;
  }
} .u-section-12 {
  --color-var: #0c255f;
}

.u-section-12 .u-sheet-1 {
  min-height: 972px;
}

.u-section-12 .u-text-1 {
  margin: 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-12 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 436px;
  --gap: 22px;
}

.u-section-12 .u-container-layout-1 {
  padding: 14px 30px;
}

.u-section-12 .u-icon-1 {
  height: 128px;
  width: 139px;
  background-image: none;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-12 .u-text-3 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  margin: 25px 0 0;
}

.u-section-12 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-12 .u-icon-2 {
  height: 128px;
  width: 139px;
  background-image: none;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-12 .u-text-5 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-12 .u-text-6 {
  font-weight: 700;
  font-style: normal;
  margin: 25px 0 0;
}

.u-section-12 .u-container-layout-3 {
  padding: 14px 30px;
}

.u-section-12 .u-icon-3 {
  height: 128px;
  width: 139px;
  background-image: none;
  margin: 24px auto 0;
  padding: 0;
}

.u-section-12 .u-text-7 {
  font-weight: 900;
  font-size: 4.5rem;
  margin: 20px auto 0;
}

.u-section-12 .u-text-8 {
  font-weight: 700;
  font-style: normal;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
   .u-section-12 {
    background-position: 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
  }

  .u-section-12 .u-list-1 {
    height: auto;
  }

  .u-section-12 .u-repeater-1 {
    min-height: 381px;
    grid-gap: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-12 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-3 {
    font-size: 3.75rem;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-5 {
    font-size: 3.75rem;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-7 {
    font-size: 3.75rem;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 612px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 19px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 488px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-13 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-13 .u-text-2 {
  font-size: 1.25rem;
  margin: 27px 0 0;
}

.u-section-13 .u-btn-2 {
  background-image: none;
  margin: 37px auto 0 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 549px;
}

.u-section-13 .u-container-layout-2 {
  padding: 0;
}

.u-section-13 .u-gallery-1 {
  height: 495px;
  width: 659px;
  margin: 0 auto 0 -19px;
}

.u-section-13 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-13 .u-gallery-inner-1 {
  --gap: 0px;
}

.u-section-13 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-1 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-13 .u-back-image-2 {
  object-position: 50% 3.08%;
}

.u-section-13 .u-over-slide-2 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-13 .u-back-image-3 {
  object-position: 50% 36.91%;
}

.u-section-13 .u-over-slide-3 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-4 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-5 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-13 .u-over-slide-6 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-13 .u-back-image-7 {
  object-position: 50% 100%;
}

.u-section-13 .u-over-slide-7 {
  padding: 20px;
}

.u-section-13 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-13 .u-back-image-8 {
  object-position: 50% 0%;
}

.u-section-13 .u-over-slide-8 {
  padding: 20px;
}

.u-section-13 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  right: auto;
  padding: 4px;
}

.u-section-13 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-13 .u-gallery-1 {
    width: 465px;
    margin-left: 0;
  }

  .u-section-13 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-13 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-13 .u-gallery-1 {
    width: 355px;
  }

  .u-section-13 .u-carousel-control-1 {
    left: 6px;
  }

  .u-section-13 .u-carousel-control-2 {
    right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-2 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-13 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-13 .u-carousel-control-2 {
    right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 838px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 337px;
  }

  .u-section-13 .u-gallery-1 {
    height: 283px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-13 .u-carousel-control-1 {
    left: 3px;
  }

  .u-section-13 .u-carousel-control-2 {
    right: 3px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 400px;
}

.u-section-14 .u-text-1 {
  margin-bottom: 60px;
} .u-section-15 {
  background-image: linear-gradient(to bottom, rgba(76, 115, 151, 0.5), rgba(0, 23, 85, 0.5)), linear-gradient(to bottom, rgba(0, 23, 85, 1), rgba(0, 23, 85, 1));
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-15 .u-sheet-1 {
  min-height: 373px;
}

.u-section-15 .u-layout-wrap-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-15 .u-layout-cell-1 {
  min-height: 364px;
}

.u-section-15 .u-container-layout-1 {
  padding: 20px 30px 0;
}

.u-section-15 .u-text-1 {
  margin: 0;
}

.u-section-15 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-15 .u-layout-cell-2 {
  min-height: 364px;
}

.u-section-15 .u-container-layout-2 {
  padding: 30px 0 10px;
}

.u-section-15 .u-form-1 {
  height: 294px;
  width: 505px;
  margin: 20px auto 0;
}

.u-section-15 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-15 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-15 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-15 .u-form-1 {
    width: 465px;
  }
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-15 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-15 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-15 .u-form-1 {
    width: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-15 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-15 .u-layout-cell-1 {
    min-height: 211px;
  }

  .u-section-15 .u-text-1 {
    width: auto;
  }

  .u-section-15 .u-form-1 {
    width: 340px;
  }
}